################################################################################
# Zwodee Git Ignore
################################################################################

**/.vs/
/out/
/.qtcreator/
.clangd/
*.bin
*.pdf
bin/
test/
build/
